
<script type="text/javascript">
    let default_database_str = 'choose database';
    let default_category_str = 'choose category';
    let default_tag_str = 'choose tag';
    $(document).ready(function () {
        $("#b01").click(function () {
            database = $(".database_selector").val();
            type = $(".type_selector").val();
            category = $(".category_selector").val();
            tag = $(".tag_selector").val();
            if(tag==null){
                $("#Result_DIV").html('seems has not tag in this database-type-category');
                return
            }
            if(database == default_database_str || category==default_category_str || tag == default_tag_str || tag == ''||tag == null){
                $("#Result_DIV").html('please choose database && category && tag && type!');
                return
            }
            query_path = "/query_category_tag_metrics/?database=" + database +  "&category=" + category + "&tag=" + tag + "&type=" + type
            console.log(query_path)
            htmlobj = $.ajax({
                url: query_path,
                async: true,
                beforeSend: function () {
                    $("#Result_DIV").animate({ opacity: .4 }, 500, function () { })
                    $("#loading").show();
                    console.log("before send");
                },
                complete: function () {
                    $("#Result_DIV").animate({ opacity: 1 }, 1000, function () { })
                    $("#loading").hide();
                    $("#Result_DIV").html(htmlobj.responseText);
                    console.log("after send");
                },

            });
        });
        // reset tag when changed type
        $(".type_selector").change( function(){
            // query default tag with the first category
            database = $(".database_selector").val();
            type = $(".type_selector").val();
            category = $(".category_selector").val();
            if(category == default_category_str || database == default_database_str){
                $(".tag_selector").html('<option>choose tag</option>')
                return
            }
            query_path = "/query_tags/?database="+database+"&category="+category+"&type="+type
            console.log(query_path)
            tag_htmlobj = $.ajax({
                url: query_path,
                async:true,
                complete:function(){
                    $(".tag_selector").html(tag_htmlobj.responseText)
                },
            });
        });
        // get category when set database
        $(".database_selector").change( function(){
            database = $(".database_selector").val();
            if(database == default_database_str){
                $(".category_selector").html('<option>choose ip</option>')
                return
            }
            console.log("change database selector "+database)
            query_path = "/query_categorys/?database=" + database
            console.log(query_path)
            categorys_htmlobj = $.ajax({
                url: query_path,
                async:true,
                complete:function(){
                    console.log("after select database")
                    $(".category_selector").html(categorys_htmlobj.responseText)

                    // query default tag with the first category
                    type = $(".type_selector").val();
                    category = $(".category_selector").val();
                    if(category == default_category_str || database == default_database_str){
                        $(".tag_selector").html('<option>choose tag</option>')
                        return
                    }
                    query_path2 = "/query_tags/?database="+database+"&category="+category+"&type="+type
                    console.log(query_path2)
                    
                    tag_htmlobj = $.ajax({
                        url: query_path2,
                        async:true,
                        complete:function(){
                            $(".tag_selector").html(tag_htmlobj.responseText)
                        },
                    });
                    
                },
            });
        });
        // get tag when set category
        $(".category_selector").change( function(){
            database = $(".database_selector").val();
            type = $(".type_selector").val();
            category = $(".category_selector").val();
            if(category == default_category_str || database == default_database_str){
                $(".tag_selector").html('<option>choose tag</option>')
                return
            }
            query_path = "/query_tags/?database="+database+"&category="+category+"&type="+type
            console.log(query_path)
            tag_htmlobj = $.ajax({
                url: query_path,
                async:true,
                complete:function(){
                    $(".tag_selector").html(tag_htmlobj.responseText)
                },
            });
        });
    })
</script>

<div class = "function_selectors">
    <select class="database_selector">
        <option>choose database</option>
        {%- for info in database_list -%}
        <option value="{{info.name}}">{{info.time}}:{{info.name}}</option>
        {%- endfor -%}
    </select>

    <select class="type_selector">
        <option>counter</option>
        <option>timer</option>
        <option>flow</option>
        <option>array_counter</option>
    </select>

    <select class="category_selector">
        <option>choose category</option>
    </select>

    <select class="tag_selector">
        <option>choose tag</option>
    </select>
    <button id="b01" class="query_button" type="button">query_metrics</button>
    
</div>

<div id="Result_DIV"></div>
