
<script type="text/javascript">
    let default_database_str = 'choose database';
    let default_public_ip_str = 'choose ip';

    $(document).ready(function () {
        $(".public_ip_selector").change( function(){
            database = $(".database_selector").val();
            public_ip = $(".public_ip_selector").val();
            if(database == default_database_str){
                $(".public_ip_selector").html('<option>choose ip</option>')
                return
            }
            
            update_result();

        });
        $(".database_selector").change( function(){
            database = $(".database_selector").val();
            if(database == default_database_str){
                $(".public_ip_selector").html('<option>choose ip</option>')
                return
            }
            console.log("change database selector "+database)
            query_path = "/query_ips/?database=" + database
            console.log(query_path)
            ips_htmlobj = $.ajax({
                url: query_path,
                async:true,
                complete:function(){
                    console.log("after select database")
                    $(".public_ip_selector").html(ips_htmlobj.responseText)
                    update_result()
                },
            });
        });
        $(".store_selector").change( function(){
            update_result();
        });

        function update_result(){
            database = $(".database_selector").val()
            public_ip = $(".public_ip_selector").val()
            store_type = $(".store_selector").val()
            if(database==default_database_str || public_ip ==default_public_ip_str){
                return
            }
            query_vnode_status_path = "/query_ip_vnode_status/?database=" + database + "&public_ip=" + public_ip
            console.log(query_vnode_status_path)
            vnode_htmlobj = $.ajax({
                url: query_vnode_status_path,
                async: true,
                complete: function(){
                    $("#VnodeStatus_DIV").html(vnode_htmlobj.responseText);
                },
            });
            
            query_metrics_path = "/query_state_block_store_cache_hit_rate/?database=" + database + "&public_ip=" + public_ip + "&store_type=" + store_type
            console.log(query_metrics_path)
            htmlobj = $.ajax({
                url: query_metrics_path,
                async: true,
                beforeSend: function () {
                    $("#Result_DIV").animate({ opacity: .4 }, 500, function () { })
                    $("#loading").show();
                    console.log("before send");
                },
                complete: function () {
                    $("#Result_DIV").animate({ opacity: 1 }, 1000, function () { })
                    $("#loading").hide();
                    $("#Result_DIV").html(htmlobj.responseText);
                    console.log("after send");
                },

            });
        };
    })

</script>

<div class = "function_selectors">

    <select class="database_selector">
        <option>choose database</option>
        {%- for database in database_list -%}
        <option value="{{database}}">{{database}}</option>
        {%- endfor -%}
    </select>

    <select class="public_ip_selector">
        <option>choose ip</option>
    </select>

    <select class="store_selector">
        <option>blockstore</option>
        <option>statestore</option>
    </select>
    
</div>

<div id="Result_DIV"></div>
