<div class="echart_big_wide_div" id="{{ name }}"></div>
<script type="text/javascript">
    var myChart_ = echarts.init(document.getElementById('{{ name }}'));
    // 指定图表的配置项和数据
    var all_option_ = {
        baseOption:{
            timeline: {
                data: [
                    {%- for _ts in ts_list -%}
                    '{{_ts}}',
                    {%- endfor -%}
                ],
                axisType: 'category',
                autoPlay: true,
                loop: false,
                playInterval: 2000,
                left: '0%',
                right: '4%',
            },
            title: {
                subtext: 'from {{ name }} ',
            },
            toolbox:{
                show: true,
                feature: {
                    dataZoom:{
                        yAxisIndex: "none"
                    },
                    dataView: {
                        readOnly: true
                    },
                    restore: {},
                    saveAsImage: {
                        name:"{{ name }}"
                    }
                },
                right:'4%'
            },
            tooltip: {

            },
            grid: {
                top: '10%',
                left: '0%',
                right: '4%',
                bottom: '12%',
                containLabel: true,
                tooltip:{
                    trigger:'axis',
                    axisPointer:{
                        type:'shadow',

                    }
                }
            },
            dataZoom: [{
                type: 'slider',
                show: true, 
                xAxisIndex: [0],
                left: '4%', 
                bottom: '8%',
                start: 0,
                end: 100 
            }],
            
            xAxis: {
                type: 'category',
                splitLine: { show: false },
                axisLabel: {
                    interval: 0,
                },
                data:[
                    {%- for _tag in tag_list -%}
                    '{{ _tag }}',
                    {%- endfor -%}
                ],
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {name: 'n1_value', type:'bar'},
                {name: 'n2_value', type:'bar'},
            ],
        },
        options: [
            {%- for ts,item in res_map.items() -%}
            {
                title:{text: '{{ ts }}'},
                series:[
                    {
                        name: '{{p_ip}}',
                        type: 'bar',
                        data: [{{item['n1_value']}}]
                    },
                    {
                        name: '{{o_ip}}',
                        type: 'bar',
                        data: [{{item['n2_value']}}]
                    },
                ]
            },
            {%- endfor %}
        ],

    };

    all_option_ && myChart_.setOption(all_option_);// 基于准备好的dom，初始化 echarts 实例并绘制图表。

</script>