<script type="text/javascript">
    var start_id = {{max_seq}};
    var query_cnt = 0;
    
    getData();

    function getData() {
        query_cnt++;
        start_id = Math.max(start_id - 10, 0);
        resp = $.ajax({
            url: "/query_relayer_gas_data/?database={{database}}&public_ip={{public_ip}}"+"&begin_seq_id=" + start_id,
            async: true,
            beforeSend: function () {
                console.log("before send query_relayer_gas_data");
            },
            complete: function () {
                console.log("after  send query_relayer_gas_data");
                insertTable(JSON.parse(resp.responseText))
            }
        });
    }

    function insertTable(json) {
        var $table = $(".table_content");
        console.log(json.length)
        {# console.log(json) #}
        for (var i = json.length - 1; i >= 0; i--) {
            var html = '';
            id = json[i]['seq_id'];
            public_ip = json[i]['public_ip'];
            send_timestamp = json[i]['send_timestamp'];
            count = json[i]['count'];
            amount = json[i]['amount'];
            detail = json[i]['detail'];
            // parse json into multi-line readable format
            // content = json[i]['kv_content'].replace(/,/g, ",<br>");

            html += '<tr>';
            html += '<td>' + id + '</td>';
            html += '<td>' + public_ip + '</td>';
            html += '<td>' + send_timestamp + '</td>';
            html += '<td>' + count + '</td>';
            html += '<td>' + amount + '</td>';
            html += '<td>' + detail + '</td>';
            html += '</tr>';

            $table.append(html);
        }
    }
    $("#btn_Page").click(function () {
        getData();
    });

    
</script>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>#id</th>
            <th>public_ip</th>
            <th>timestamp</th>
            <th>count</th>
            <th>amount</th>
            <th>detail</th>
        </tr>
    </thead>

    <tbody class="table_content">
    
    </tbody>
</table>


<div>
    <a href="javascript:void(0);" id="btn_Page">查看更多>>></a>
</div>