<div class= "echartdiv" id="{{ name }}" ></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('{{ name }}'));
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '{{ name }}'
        },
        dataZoom: [{
            type: 'slider',
            show: true, //flase直接隐藏图形
            xAxisIndex: [0],
            left: '9%', //滚动条靠左侧的百分比
            bottom: -5,
            start: 0,//滚动条的起始位置
            end: 100 //滚动条的截止位置（按比例分割你的柱状图x轴长度）
        }],
        xAxis: {
            name: "发送时间",
            type: 'category',
            data: [1, 2, 3, 4, 5, 6, 7]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                type: 'line',	//line折线图。bar柱形图
                data: [10, 20, 30, 40, 50, 60, 70],
                itemStyle: { normal: { color: "#31b0d5" } }
            }, {
                type: 'line',	//line折线图。bar柱形图
                data: [5, , 15, 20, 25, 30, 35],
                itemStyle: { normal: { color: "#123456" } }
            }
        ]
    };
    option && myChart.setOption(option);// 基于准备好的dom，初始化 echarts 实例并绘制图表。
</script>