<div class="echart_big_wide_div" id="main"></div>
<script>

    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        title: {
            text: "P2P message DEMO",
            subtext: "Default layout",
            top: "bottom",
            left: "right"
        },
        tooltip: {},
        legend: [{
            // data: ["第0跳", "第1跳", "第2跳", "第3跳", "第4跳", "第5跳", "第6跳", "第7跳", "第8跳"]
            data: ["第0跳", "第1跳", "第2跳", "第3跳", "第4跳", "未收到"]
        }],
        animationDuration: 1500,
        animationEasingUpdate: "quinticInOut",
        series: [{
            name: "Nodes",
            type: "graph",
            layout: "circular",
            data: [{
                id: "0",
                name: "Node0",
                symbolSize: 100,
                value: 1,
                category: 0
            }, {
                id: "1",
                name: "Node1",
                symbolSize: 75,
                value: 1,
                category: 1
            }, {
                id: "2",
                name: "Node2",
                symbolSize: 75,
                value: 1,
                category: 1
            }, {
                id: "3",
                name: "Node3",
                symbolSize: 75,
                value: 1,
                category: 1
            }, {
                id: "4",
                name: "Node4",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "5",
                name: "Node5",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "6",
                name: "Node6",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "7",
                name: "Node7",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "8",
                name: "Node8",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "9",
                name: "Node9",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "10",
                name: "Node10",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "11",
                name: "Node11",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "12",
                name: "Node12",
                symbolSize: 60,
                value: 1,
                category: 2
            }, {
                id: "13",
                name: "Node13",
                symbolSize: 20,
                value: 0,
                category: 5
            }
            ],
            links: [{
                id: "0",
                source: "0",
                target: "1"
            }, {
                id: "1",
                source: "0",
                target: "2"
            }, {
                id: "2",
                source: "0",
                target: "3"
            }, {
                id: "3",
                source: "1",
                target: "4"
            }, {
                id: "4",
                source: "1",
                target: "5"
            }, {
                id: "5",
                source: "1",
                target: "6"
            }, {
                id: "6",
                source: "2",
                target: "7"
            }, {
                id: "7",
                source: "2",
                target: "8"
            }, {
                id: "8",
                source: "2",
                target: "9"
            }, {
                id: "9",
                source: "3",
                target: "10"
            }, {
                id: "10",
                source: "3",
                target: "11"
            }, {
                id: "11",
                source: "3",
                target: "12"
            }],
            categories: [{
                name: "第0跳"
            }, {
                name: "第1跳"
            }, {
                name: "第2跳"
            }, {
                name: "第3跳"
            }, {
                name: "第4跳"
            }, {
                name: "未收到"
            }]
        }]
    }
    option && myChart.setOption(option);

</script>