<div class="echart_big_wide_div" id="192.168.181.128/tmp/rec3/xtop.log txpool_state"></div>
<script type="text/javascript">
    var myChart_ = echarts.init(document.getElementById('192.168.181.128/tmp/rec3/xtop.log txpool_state'));
    // 指定图表的配置项和数据
    var all_option_ = {
        baseOption:{
            timeline: {
                data: ['2021-07-28 05:50:00','2021-07-28 05:55:00','2021-07-28 06:00:00',],
                axisType: 'category',
                autoPlay: true,
                loop: false,
                playInterval: 2000,
                left: '0%',
                right: '20%',
            },
            title: {
                subtext: 'from 192.168.181.128/tmp/rec3/xtop.log txpool_state ',
            },
            toolbox:{
                show: true,
                feature: {
                    dataZoom:{
                        yAxisIndex: "none"
                    },
                    dataView: {
                        readOnly: true
                    },
                    restore: {},
                    saveAsImage: {
                        name:"192.168.181.128/tmp/rec3/xtop.log txpool_state"
                    }
                },
                right:'10%'
            },
            tooltip: {
                
                
            },
            grid: {
                top: '30%',
                left: '0%',
                right: '20%',
                bottom: '12%',
                containLabel: true,
                tooltip:{
                    trigger:'axis',
                    axisPointer:{
                        type:'shadow',

                    }
                }
            },
            dataZoom: [{
                type: 'slider',
                show: true, 
                xAxisIndex: [0],
                left: '4%', 
                bottom: '8%',
                start: 0,
                end: 100 
            }],
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: '0%',
                top: '5%',
                bottom: '20%',
                data: ['table_num','unconfirm','received_recv','received_confirm','pulled_recv','pulled_confirm',],
            },
            xAxis: {
                type: 'category',
                splitLine: { show: false },
                axisLabel: {
                    interval: 0,
                    rotate: 30,
                },
                data:['table_num','unconfirm','received_recv','received_confirm','pulled_recv','pulled_confirm',],
            },
            yAxis: {
                type: 'value'
            },
            series: [
                { name: 'value', type: 'bar' }, 
                {
                    name: '占比',
                    type: 'pie',
                    center: ['60%', '15%'],
                    radius: '28%',
                    z: 100
                }
            ],
        },
        options: [{
                title:{text: '2021-07-28 05:50:00'},
                series:[
                    {
                        name: 'value',
                        type: 'bar',
                        data: [36,1,2,3,4,5]
                    },
                    {
                        data:[
                            {name:'table_num',value:36},{name:'unconfirm',value:12},{name:'received_recv',value:42},{name:'received_confirm',value:53},{name:'pulled_recv',value:null},{name:'pulled_confirm',value:null},
                        ],
                    }
                ]
            },{
                title:{text: '2021-07-28 05:55:00'},
                series:[
                    {
                        name: 'value',
                        type: 'bar',
                        data: [36,1,2,3,4,5]
                    },
                    {
                        data:[
                            {name:'table_num',value:36},{name:'unconfirm',value:null},{name:'received_recv',value:null},{name:'received_confirm',value:null},{name:'pulled_recv',value:null},{name:'pulled_confirm',value:null},
                        ],
                    }
                ]
            },{
                title:{text: '2021-07-28 06:00:00'},
                series:[
                    {
                        name: 'value',
                        type: 'bar',
                        data: [36,1,2,3,4,5]
                    },
                    {
                        data:[
                            {name:'table_num',value:36},{name:'unconfirm',value:null},{name:'received_recv',value:null},{name:'received_confirm',value:null},{name:'pulled_recv',value:null},{name:'pulled_confirm',value:null},
                        ],
                    }
                ]
            },
        ],

    };

    all_option_ && myChart_.setOption(all_option_);// 基于准备好的dom，初始化 echarts 实例并绘制图表。

</script>